{% include "student/pledge_introduction.html" %}

<h1 class="py-2">إقرار وتعهد فرصة مشروطة</h1>

أقر أنا الطالب <b>{{ object.student.first_name }}</b> رقمي الجامعي ({{ object.student.username }}) 
بأنه تم إشعاري بحصولي على إنذار أكاديمي بسبب تدني أدائي الدراسي في الفصل 
الحالي ولما لذلك من تبعات على مسيرتي الدراسية في الجامعة وما قد يترتب على 
ذلك من إيقافي نهائي عن الدراسة، فإنني أتعهد بأن يكون أدائي في الفصول القادمة 
متميزاً، بما في ذلك:
<ul>
    <li>
    الحصول على معدل فصلي لا يقل عن ({{ object.kfupm_gpa }}) 
    في الفصل الدراسي ({{ object.next_tearm }}).
    والاستمرار بالشرط الى ان يصبح معدلي التراكمي (2.00).
    </li>
</ul>

<b class="text-danger">
وفي حالة إخفاقي في تحقيق المعدل الفصلي المشروط، سوف يتم إيقافي عن الدراسة نهائياً.
</b>

<br><br>

رقم جوال الطالب: 
{{ form.phone }}
<br><br>


علما بأنه يتوجب عليك إشعار ولي الأمر بوضعك الدراسي
<br><br>

{{ form.is_approved }}
أقر بالاطلاع والالتزام بالتعهد.
