{% load crispy_forms_tags %}

عزيزي الطالب آمل قراءة هذه الرسالة بروية و تركيز.....
<br><br>

تشير البيانات بأن أداءك الدراسي في الفصل الحالي كان دون المستوى المتوقع منك كطالب تم قبوله في جامعة الملك فهد لتميزه الدراسي، وحيث أن هذا الأمر انعكس سلباً على معدلك العام وترتب على ذلك ايقافك عن الدراسة نهائياً وننصحك بالبحث عن جامعة اخرى.


<hr class="mt-5">

<h1 class="py-4">إقرار وتعهد بالإيقاف النهائي</h1>

أقر أنا الطالب ({{ object.student.first_name }}) رقمي الجامعي ({{ object.student.username }}) بأنه تم إشعاري بحصولي على إيقاف نهائي عن الدراسة بسبب تدني أدائي الدراسي في الفصل الحالي وانخفاض معدلي العام ولا يحق لي المطالبة بإعادة القبول نهائياً.

<br><br>

رقم جوال الطالب: 
{{ form.phone }}
رقم جوال ولي أمر الطالب : 
{{ form.phone_guardian }}

<br><br>

{{ form.is_approved }}

أقر بالاطلاع والالتزام بالتعهد.              التاريخ: 09/12/2020م
