عزيزي الطالب {{ object.student.first_name }} الرقم الجامعي {{ object.student.username }}
<br><br>

آمل قراءة هذه الرسالة بروية و تركيز.....
<br><br>
تشير البيانات بأن أداءك الدراسي في الفصل الحالي كان دون المستوى المتوقع منك 
كطالب تم قبوله في جامعة الملك فهد لتميزه الدراسي، وحيث أن هذا الأمر ينعكس 
سلباً على معدلك العام فقد يترتب على ذلك الإيقاف النهائي في حال استمر الأداء 
الدراسي بشكل متدني في الفصل الدراسي القادم لذا نأمل منك:
<br>
القيام بوقفة مصارحة ومراجعة للتعرف على نقاط الضعف والأخطاء التي تمت خلال هذا
الفصل ووضع خطة للتصحيح وفي حال كنت تحتاج المساعدة فلا
تتردد بالتواصل معنا، حيث أنه يسعدنا أن نقوم بواجبنا.
<br>
وتذكر  : ان الشخص الايجابي هو الذي يعزم على صنع فرص جديدة أكثر من تلك التي ضاعت منه
<br><br>

{% if form.errors.low_performance_reasons %}
        <div class="alert alert-danger">
            الرجاء إختيار سبب تدني الأداء
        </div>
{% endif %}

أسباب تدني الأداء في الفصل الحالي يعود الى: 
{{ form.low_performance_reasons }}

<div class="form-group m-4">
    {{ form.low_performance_other_reasons }}
</div>

<div class="alert alert-danger m-4 mx-auto max-alert">
    ولتجنب تعليق دراستك بالجامعة في الفصل الدراسي القادم يتوجب عيك استكمال التعهد ادناه
</div>

<h1 class="py-2">إقرار وتعهد فرصة نهائية</h1>

عوضاً عن ايقافك رأت اللجنة منحك فرصة نهائية مشروطة لتتمكن من تحسين أداءك الدراسي

<br>

أقر أنا الطالب {{ object.student.first_name }} رقمي الجامعي ({{ object.student.username }}) 
بأنه تم إشعاري بحصولي على إنذار أكاديمي بسبب تدني أدائي الدراسي في الفصل الحالي ولما 
لذلك من تبعات على مسيرتي الدراسية في الجامعة وما قد يترتب على ذلك من 
إيقافي نهائي عن الدراسة فإنني أتعهد  بأن يكون أدائي في الفصول القادمة 
متميزاً، بما في ذلك:
<ul>
    <li>
    الحصول على معدل فصلي لا يقل عن ({{ object.kfupm_gpa }}) 
    في الفصل الدراسي ({{ object.next_tearm }}).
    والاستمرار بالشرط الى ان يصبح معدلي التراكمي (2.00).
    </li>
</ul>

<span class="text-danger">
وفي حالة إخفاقي في تحقيق المعدل الفصلي المشروط بالفرصة النهائية، 
سوف يتم إيقافي عن الدراسة نهائياً.
</span>

<br><br>

رقم جوال الطالب: 
{{ form.phone }}
<br><br>

رقم جوال ولي أمر الطالب : 
{{ form.phone_guardian }}

صلة القرابة:
{{ form.guardian_relation }}
<br><br>

يجب إرسال إفادة ولي الأمر باطلاعه على أداءك الدراسي  وتأكيد جاهزية الطالب مع إرفاق صورة هوية ولي الأمر  مذيلة بتوقيع ولي الأمر على البريد الالكتروني admissions@kfupm.edu.sa
<br><br>

{{ form.is_approved }}

أقر بالاطلاع والالتزام بالتعهد.
