{% include "student/pledge_introduction.html" %}

<h1 class="py-2">إقرار وتعهد فرصة نهائية</h1>

عوضاً عن ايقافك رأت اللجنة منحك فرصة نهائية مشروطة لتتمكن من تحسين أداءك الدراسي

<br><br>

أقر أنا الطالب <b>{{ object.student.first_name }}</b> رقمي الجامعي ({{ object.student.username }}) 
بأنه تم إشعاري بحصولي على إنذار أكاديمي بسبب تدني أدائي الدراسي في الفصل الحالي ولما 
لذلك من تبعات على مسيرتي الدراسية في الجامعة وما قد يترتب على ذلك من 
إيقافي نهائي عن الدراسة فإنني أتعهد  بأن يكون أدائي في الفصول القادمة 
متميزاً، بما في ذلك:
<ul>
    <li>
    الحصول على معدل فصلي لا يقل عن ({{ object.kfupm_gpa }}) 
    في الفصل الدراسي ({{ object.next_tearm }}).
    والاستمرار بالشرط الى ان يصبح معدلي التراكمي (2.00).
    </li>
</ul>

<b class="text-danger">
وفي حالة إخفاقي في تحقيق المعدل الفصلي المشروط بالفرصة النهائية، 
سوف يتم إيقافي عن الدراسة نهائياً.
</b>

<br><br>

رقم جوال الطالب: 
{{ form.phone }}
<br><br>

رقم جوال ولي أمر الطالب : 
{{ form.phone_guardian }}

صلة القرابة:
{{ form.guardian_relation }}
<br><br>


يجب إرسال إفادة ولي الأمر بإطلاعه على أداءك الدراسي  وتأكيد جاهزيتك
مع إرفاق 
صورة هوية ولي الأمر  مذيلة بتوقيع ولي الأمر على البريد الالكتروني admissions@kfupm.edu.sa
<br><br>

{{ form.is_approved }}

أقر بالاطلاع والالتزام بالتعهد.
