{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if object.pledge_type == object.PledgeType.CONDITION %}
            {% include "student/condition.html" %}
        {% elif object.pledge_type == object.PledgeType.FINAL %}
            {% include "student/final.html" %}
        {% elif object.pledge_type == object.PledgeType.DISMISS %}
            {% include "student/dismiss.html" %} 
        {% endif %}
        
        <br><br>

        {% if not object.pledge_type == object.PledgeType.DISMISS %}
        {{ form.errors }}
        <br><br>
        <input 
            class="btn btn-primary" 
            type="submit" 
            value="إرسال" />
            {% comment %} 
            TODO: replace next with above
            value="{% translate 'send' %}" /> 
            {% endcomment %}
        {% endif %}

        <a class="btn btn-outline-danger" href="{% url 'logout' %}">
            {% translate "Logout" %}
        </a>
    </form>
{% endblock %}
