{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

    {{ form|as_crispy_errors }}

    <form method="POST">
        {% csrf_token %}
        {% if object.pledge_type == 'S' %}
            {% include "student/condition.html" %}
        {% elif object.pledge_type == 'D1' %}
            {% include "student/final.html" %}
        {% elif object.pledge_type == 'D' %}
            {% include "student/dismiss.html" %}
        {% endif %}
        <br><br>
        <input class="btn btn-primary" type="submit" value="{% translate 'send' %}" />
    </form>
{% endblock %}
