عزيزي الطالب <b>{{ object.student.first_name }}</b> الرقم الجامعي {{ object.student.username }}
<br><br>

آمل قراءة هذه الرسالة بروية و تركيز.....

<br><br>

تشير البيانات بأن أداءك الدراسي في الفصل الحالي كان دون المستوى المتوقع منك 
كطالب تم قبوله في جامعة الملك فهد لتميزه الدراسي، وحيث أن هذا الأمر ينعكس 
سلباً على معدلك العام وقد يترتب على ذلك الإيقاف النهائي في حال استمر الأداء 
الدراسي بشكل متدني في الفصل الدراسي القادم، لذا نأمل منك:
<br>
القيام بوقفة مصارحة ومراجعة للتعرف على نقاط الضعف والأخطاء التي تمت خلال هذا
الفصل ووضع خطة للتصحيح وفي حال كنت تحتاج المساعدة فلا
تتردد بالتواصل معنا، حيث أنه يسعدنا أن نقوم بواجبنا.
<br><br>
وتذكر  :
ان الشخص الايجابي هو الذي يعزم على صنع فرص جديدة أكثر من تلك التي ضاعت منه
<br><br>

{% if form.errors.low_performance_reasons %}
        <div class="alert alert-danger">
            الرجاء إختيار سبب تدني الأداء
        </div>
{% endif %}

أسباب تدني الأداء في الفصل الحالي يعود الى: 
{{ form.low_performance_reasons }}

<div class="form-group m-4">
    {{ form.low_performance_other_reasons }}
</div>

<div class="alert alert-danger m-4 mx-auto max-alert">
    ولتجنب تعليق دراستك بالجامعة في الفصل الدراسي القادم يتوجب عليك استكمال التعهد ادناه
</div>
