{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if object.pledge_type == 'S' %}
            {% include "student/condition.html" %}
        {% elif object.pledge_type == 'D1' %}
            {% include "student/final.html" %}
        {% elif object.pledge_type == 'D' %}
            {% include "student/dismiss.html" %}
        {% endif %}
        <br><br>
        {{ form.errors }}
        <br><br>
        <input 
            class="btn btn-primary" 
            type="submit" 
            value="إرسال" />
            {% comment %} 
            TODO: replace next with above
            value="{% translate 'send' %}" /> 
            {% endcomment %}
    </form>
{% endblock %}
