{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <form class="max-300 m-auto " method="post">

        {% csrf_token %}
        {{ form|crispy }}

        <div class="control-group">
            <div class="controls">
                <input type="submit" 
                    class="btn btn-primary w-100 mt-4" 
                    value="تسجيل الدخول">
                    {% comment %} value="{% trans 'login' %}"> {% endcomment %}
            </div>
        </div>
    </form>
{% endblock %}
